<div class="card" style="width: 50rem; padding: 20px; margin:0 auto;">
<%= form_with(model: article, local: true) do |form| %>

　<%#エラーメッセージ%>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <i class="fas fa-caret-square-right"></i>
    <%= form.label :動画タイトル %>
    <span class="badge badge-danger">必須</span>
    <%= form.text_area :title %>
  </div>

  <div class="field">
    <i class="fas fa-tv"></i>
    <%= form.label :チャンネル名 %>
    <span class="badge badge-danger">必須</span>
    <%= form.text_field :channnel_name %>
  </div>
  
  <div class="field">
    <i class="fas fa-link"></i>
    <%= form.label :動画リンク（動画概要欄の共有からリンクを貼ってください） %>
    <span class="badge badge-danger">必須</span>
    <%= form.text_field :thumbnail %>
  </div>
  
  <div class="field">
    <i class="far fa-comment"></i>
    <%= form.label :ひとこと %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <i class="fas fa-tags"></i>
    <%= form.label :タグ（複数タグを付ける場合は半角カンマで区切ってください） %>
    <%= form.text_field :tag_list, value:@article.tag_list.join(','), class: "form-control" %>
  </div>

  <div class="field">
    <i class="fas fa-lock-open"></i>
    <%= form.label :公開状況 %>
    <%= form.select :status,  Article.statuses.keys.map {|k| [I18n.t("enums.article.status.#{k}"), k]}  %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>