<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :動画タイトル %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :チャンネル名 %>
    <%= form.text_field :channnel_name %>
  </div>

  <div class="field">
    <%= form.label :ひとこと %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :動画リンク %>
    <%= form.text_field :thumbnail %>
  </div>

  <div class="field">
    <%= form.label :公開状況 %>
    <%= form.select :status,  Article.statuses.keys.map {|k| [I18n.t("enums.article.status.#{k}"), k]}  %>
  </div>
  
  <div class="field">
    <%= form.label :タグ %>
    <%= form.text_field :tag_list, value: Article.tag_list.join(','), class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
