<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Channnel name:</strong>
  <%= @article.channnel_name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @article.thumbnail %>
</p>

<p>
  <strong>Status:</strong>
  <%= @article.status %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @article.start_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
