<p id="notice"><%= notice %></p>

<p>
  <strong>動画タイトル:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>チャンネル:</strong>
  <%= @article.channnel_name %>
</p>

<p>
  <strong>ひとこと:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @article.thumbnail %>
</p>

<p>
  <strong>Status:</strong>
  <%= @article.status %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @article.start_time %>
</p>

<p>
  <strong>記事投稿者:</strong>
  <%= link_to user_path(@article.user)do %>
    <%= @article.user.name %>
　<% end %>
</p>

<% if @article.user.id == current_user.id %>
<%= link_to '編集', edit_article_path(@article) %>
<%= link_to '削除', article_path(@article), method: :delete, data: { confirm: '本当に削除してよろしいですか?' } %>
<% end %>

<%= link_to '記事一覧へ', articles_path %>
