<p id="notice"><%= notice %></p>
<h1><%= @article.title %></h1>

<p>
  <strong>チャンネル:</strong>
  <%= @article.channnel_name %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @article.thumbnail%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>
  <strong>いいね:</strong>
  <% if current_user.already_favorited?(@article) %>
    <%= link_to article_favorites_path(@article), method: :delete do %>
      <i class="fas fa-heart"></i>
    <% end %>
    <%= @article.favorites.count %>
    <% else %>
    <%= link_to article_favorites_path(@article), method: :post do %>
      <i class="far fa-heart"></i>
    <% end %>
    <%= @article.favorites.count %>
  <% end %>
</p>

<p>
  <strong>ひとこと:</strong>
  <%= @article.content %>
</p>

<% if @article.user.id == current_user.id %>
 <p>
  <strong>Status:</strong>
  <%= @article.status %>
 </p>
<% end %>

<p>
  <strong>Start time:</strong>
  <%= @article.updated_at.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>記事投稿者:</strong>
  <%= link_to user_path(@article.user)do %>
    <%= @article.user.name %>
　<% end %>
</p>

<% if @article.user.id == current_user.id %>
 <%= link_to '編集', edit_article_path(@article) %>
 <%= link_to '削除', article_path(@article), method: :delete, data: { confirm: '本当に削除してよろしいですか?' } %>
<% end %>

<%= link_to '記事一覧へ', articles_path %>
