<%# ログインユーザーの場合　%>
<% if @article.user.id == current_user.id %>
  <div style="text-align : right; width: 50rem; margin:10px auto;">
    <i class="fas fa-edit"></i><%= link_to '編集', edit_article_path(@article) %>
    <i class="fas fa-trash-alt"></i><%= link_to '削除', article_path(@article), method: :delete, data: { confirm: '本当に削除してよろしいですか?' } %>
    <i class="fas fa-lock-open"></i><%= @article.status_i18n %>
  </div>
<% end %>

<div class="card" style="width: 50rem; margin:10px auto;">
  <div class="card-body">
    
    <%# ユーザーアイコン　%>
    <div align="left">
    <% if @article.user.icon? %>
      <%= image_tag @article.user.icon.url, width: '30px'  %>
    <% else %>
      <image src="/assets/default.png" width= "30px">
    <% end %>
    
    <%# ユーザー名　%>
    <%= link_to user_path(@article.user)do %>
      　<%= @article.user.name %>
    <% end %>
    </div>
    
    <%# 投稿日時　%>
    <div align="right">
    <i class="fas fa-clock"></i>
      <%= @article.updated_at.strftime("%Y-%m-%d %H:%M") %>
    </div>
  </div>
    
  <%# 動画　%>
  <iframe class="card-img-top" style="width: 50rem; height: 28rem; margin:0 auto; " src="https://www.youtube.com/embed/<%= @article.thumbnail%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <div class="card-body">
    <h3 class="card-title">
      
      <%# タイトル　%>
      <i class="fas fa-caret-square-right"></i>
      <%= @article.title %>
      
      <%# いいね　%>
      <div class="favorites_buttons_<%= @article.id %>">
        <%= render partial: 'favorites/favorite', locals: {article: @article} %>
  　　</div>
    </h3>
    
    <%# チャンネル名　%>
    <p class="card-channnel">
    <i class="fas fa-tv"></i>
    <%= @article.channnel_name %></p>
    
    <%# ひとこと・タグ　%>
    <li class="list-group-item">
      <i class="far fa-comment"></i>
      <%= @article.content %>
      <p>
        <% @article.tag_list.each do |tag| %>
          <span class="badge badge-primary"><%= tag %></span>
        <% end %>
      </p>
    </li>
  </div>
  
</div>


