<div class="card" style="width: 50rem; margin:20px auto;">
  <div class="card-body">
    
    <%# ユーザーアイコン　%>
    <div class="media">
    <% if @article.user.icon? %>
      <%= image_tag @article.user.icon.url, width: '50px' , class: 'icon_image' %>
    <% else %>
      <image src="/assets/default.png" width= "50px" class = "icon_image">
    <% end %>
    
    <%# ユーザー名　%>
    <div class="media-body" style="margin-left:12px;">
      <p class="m-0" style="font-weight:bold;"><%= link_to user_path(@article.user)do %><%= @article.user.name %><% end %></p>
      <p class="m-0" style="color: #808080;"><i class="fas fa-clock"></i><%= @article.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
    </div>
    
    <%# ログインユーザーの場合　%>
    <% if @article.user.id == current_user.id %>
    <div style="text-align : right;">
      <i class="fas fa-edit"></i><%= link_to '編集', edit_article_path(@article) %>
      <i class="far fa-eye"></i><%= @article.status_i18n %>
    </div>
    <% end %>
    </div>
  </div>
    
  <%# 動画　%>
  <iframe class="card-img-top" style="width: 50rem; height: 28rem; margin:0 auto; " src="https://www.youtube.com/embed/<%= @article.thumbnail%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  <div class="card-body">
    <h4 class="card-title">
      
      <%# タイトル　%>
      <i class="fas fa-caret-square-right"></i>
      <%= @article.title %>
      
      <%# いいね　%>
      <div class="favorites_buttons_<%= @article.id %>">
        <%= render partial: 'favorites/favorite', locals: {article: @article} %>
  　　</div>
    </h4>
    
    <%# チャンネル名　%>
    <p class="card-channnel">
    <i class="fas fa-tv"></i>
    <%= @article.channnel_name %></p>
    
    <%# ひとこと・タグ　%>
    <li class="list-group-item">
      <i class="far fa-comment"></i>
      <%= @article.content %>
      <p>
        <% @article.tag_list.each do |tag| %>
          <span class="badge badge-primary"><%= tag %></span>
        <% end %>
      </p>
    </li>
  </div>
  
</div>


