<div class="card" style="width: 50rem; padding: 20px; margin:20px auto;">
　<div class="container mt-5 px-5">
  　<div class="row mt-5">
    <!--左側-->
    <div class="col-md-6 px-5">
        <%# アイコン %>
        <% if @user.icon? %>
           <%= image_tag @user.icon.url, width: '50%'  %>
        <% else %>
           <image src="/assets/default.png" width= "50%">
        <% end %> 
        
    </div>

    <!--右側-->
    <div class="col-md-6">
      
      <%# ユーザーネーム %>
      <h2 class="name"><%= @user.name %></h2>
      
      <%# ユーザーID %>
      <p><%= @user.login_id %></p>
      
      <%# フォロワー %>
      <div class="follower">
      　<%= link_to followers_user_path(@user) do %>
      　フォロワー
          　<h5 id="followers" style="color: black;"><%= @user.followers.count %></h5>人
      　<% end %>
    　</div>
    　
    　<%# フォロー %>
    　<div class="follow">
      　<%= link_to following_user_path(@user) do %>
      　フォロー中
        　　<h5 id="following" style="color: black;"><%= @user.following.count %></h5>人
      　<% end %>
   　  </div>
   　
   　<%# フォローボタン %>  
     <div>
       <%= render "follow_form" %>
     </div>
     
     <%# プロフィール文 %>
     <p><%= @user.profile %></p>
     
    <%# ログインユーザーの場合、編集画面へ %>
    <% if @user.id == current_user.id %>
    　<td>
    　　<%= link_to "編集", edit_user_path(@user)%>
    　</td>
　　<% end %>
      
    </div>
  </div>
</div>
</div>



<br>
<%# 投稿一覧 %>
<div class="row" style="width: 60rem; margin:0 auto;">
<% @user.articles.each do |article| %>
  <div class="card" style="width: 18rem; margin:10px;">
    <iframe class="card-img-top" style="width: 18rem; height: 12rem; margin:0 auto; " src="https://www.youtube.com/embed/<%= article.thumbnail%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <div class="card-body">
    <h5 class="card-title"><%= link_to article.title, article_path(article) %></h5>
  </div>
  </div>
<% end %>
</div>



<% if @user.id == current_user.id %>
    <td>
    <%= link_to 'いいね一覧へ', [@user, :favorites] %>
    </td>
<% end %>


<div style="width: 50rem; margin:0 auto;">
 <%= link_to 'ユーザー一覧へ', users_path %>
</div>
