<div class="card" style="width: 50rem; padding: 20px; margin:20px auto;">
  
  
  
　<div class="container mt-1 px-5">
  　<div class="row mt-1">
    <!--左側-->
    <div class="col-md-6 ">
        <%# アイコン %>
        <% if @user.icon? %>
           <%= image_tag @user.icon.url, width: '70%' , style: 'rounded-circle', class: 'icon_image'  %>
        <% else %>
           <image src="/assets/default.png" width= "70%" class = "icon_image">
        <% end %> 
        
    </div>

    <!--右側-->
    <div class="col-md-6 px-3">
      
      <%# ユーザーネーム %>
      <h2 class="name"><%= @user.name %></h2>
      
      <%# ユーザーID %>
      <p style="color: #808080;"><%='@' + @user.login_id %></p>
      
      <%# フォロワー・フォロー %>
      <div class="follower">
        フォロワー<%= link_to followers_user_path(@user) do %><h5 id="followers" style="color: black;"><%= @user.followers.count %></h5><% end %>
        フォロー中<%= link_to following_user_path(@user) do %><h5 id="following" style="color: black;"><%= @user.following.count %></h5><% end %>
    　</div>
    
   　<%# フォローボタン %>  
     <div>
       <%= render "follow_form" %>
     </div>
     
     <%# プロフィール文 %>
     <p><%= @user.profile %></p>
     
    <%# ログインユーザーの場合、編集画面へ %>
    <% if @user.id == current_user.id %>
    　　<i class="fas fa-edit"></i><%= link_to "編集", edit_user_path(@user)%>
    　　<i class="fas fa-heart"></i><%= link_to 'いいね一覧へ', [@user, :favorites] %>
　　<% end %>
      
    </div>
    
    </div>
　</div>
</div>


<%# 投稿一覧 %>
<div class="row" style="width: 60rem; margin:0 auto;">
<% @user.articles.each do |article| %>
  <div class="card" style="width: 18rem; margin:15px ;">
    <iframe class="card-img-top" style="width: 18rem; height: 10rem; margin:0 auto; " src="https://www.youtube.com/embed/<%= article.thumbnail%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <div class="card-body">
    <h5 class="card-title"><i class="fas fa-caret-square-right"></i><%= link_to article.title, article_path(article) %></h5>
    <i class="fas fa-clock"></i><%= article.updated_at.strftime("%Y-%m-%d %H:%M") %>
  </div>
  </div>
<% end %>
</div>





