<div class="media">
  <%= image_tag @user.icon.url, width: '20%' if @user.icon? %>
  <div class="media-body">
    <h1 class="mt-0"><%= @user.name %></h1>
    <p><%= @user.login_id %></p>
    
    <div class="follower">
      <%= link_to followers_user_path(@user) do %>
          <h5 style="color: black;">フォロワー<%= @user.followers.count %>人</h5>
      <% end %>
    </div>
    <div class="follow">
      <%= link_to following_user_path(@user) do %>
                <h5 style="color: black;">フォロー<%= @user.following.count %>人</h5>
      <% end %>
    </div>
    <div>
      <%= render "follow_form" %>
    </div>
    
    <h3><%= @user.profile %></h3>
    <% if @user.id == current_user.id %>
    　<td>
    　　<%= link_to "編集", edit_user_path(@user)%>
    　</td>
　　<% end %>
  </div>
</div>

<br>

<h2><%= @user.name + "'s Favorite YouTube" %></h2>
<% @user.articles.each do |article| %>
 <tr>
  <td><%= link_to article.title, article_path(article) %></td>
  <td><iframe width="320" height="180" src="https://www.youtube.com/embed/<%=article.thumbnail%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
  <td><%= article.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
 </tr>
<% end %>

<% if @user.id == current_user.id %>
    <td>
    <%= link_to 'いいね一覧へ', [@user, :favorites] %>
    </td>
<% end %>

<%= link_to 'ユーザー一覧へ', users_path %>

