<div class="card" style="width: 50rem; padding: 20px; margin:0 auto;">
　<div class="container mt-5 px-5">
  　<div class="row mt-5">
    <!--左側-->
    <div class="col-md-6 px-5">
        <%# アイコン %>
        <% if @user.icon? %>
           <%= image_tag @user.icon.url, width: '50%'  %>
        <% else %>
           <image src="/assets/default.png" width= "50%">
        <% end %> 
        
    </div>

    <!--右側-->
    <div class="col-md-6">
      
      <%# ユーザーネーム %>
      <h2 class="name"><%= @user.name %></h2>
      
      <%# ユーザーID %>
      <p><%= @user.login_id %></p>
      
      <%# フォロワー %>
      <div class="follower">
      　<%= link_to followers_user_path(@user) do %>
      　フォロワー
          　<h5 id="followers" style="color: black;"><%= @user.followers.count %></h5>人
      　<% end %>
    　</div>
    　
    　<%# フォロー %>
    　<div class="follow">
      　<%= link_to following_user_path(@user) do %>
      　フォロー中
        　　<h5 id="following" style="color: black;"><%= @user.following.count %></h5>人
      　<% end %>
   　  </div>
   　
   　<%# フォローボタン %>  
     <div>
       <%= render "follow_form" %>
     </div>
     
     <%# プロフィール文 %>
     <p><%= @user.profile %></p>
     
    <%# ログインユーザーの場合、編集画面へ %>
    <% if @user.id == current_user.id %>
    　<td>
    　　<%= link_to "編集", edit_user_path(@user)%>
    　</td>
　　<% end %>
      
    </div>
  </div>
</div>




<br>

<h2><%= @user.name + "'s Favorite YouTube" %></h2>
<% @user.articles.each do |article| %>
<ul class="list-group list-group-flush">
 <li class="list-group-item">
  <tr>
   <td><h4><i class="fas fa-caret-square-right"></i><%= link_to article.title, article_path(article) %></h4></td>
   <td><i class="fas fa-tv"></i><%= article.channnel_name %></td><br>
   <td><%= article.content %></td><br>
   <td><i class="fas fa-clock"></i><%= article.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
  </tr>
 </li>
</ul>
<% end %>

<% if @user.id == current_user.id %>
    <td>
    <%= link_to 'いいね一覧へ', [@user, :favorites] %>
    </td>
<% end %>
</div>

<%= link_to 'ユーザー一覧へ', users_path %>

